body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 89%);
}

header {
  background-color: #447fed;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: rgb(251, 226, 65) ;
  padding: 10px;
  text-align: center;
}

nav a {
  color: black ;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.slider {
  width: 100%;
  overflow: hidden;
  max-height: 2000px;
  position: relative;
}

.slider img {
  width: 100%;
  display: none;
}

.slider img.active {
  display: block;
}

section {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
} 
